.signup-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
}

.signup-form {
  width: 450px;
  background: white;
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.signup-title {
  text-align: center;
  color: #222;
  margin-bottom: 10px;
}

.signup-input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}

.signup-input:focus {
  border-color: #F4560A;
}

.signup-btn {
  background-color: #F4560A;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  font-size: 18px;
}

.signup-btn:hover {
  opacity: 0.9;
}

.signup-text {
  text-align: center;
}

.signup-link {
  margin-left: 5px;
  color: #F4560A;
  font-weight: 600;
}
.password-field {
  position: relative;
  width: 100%;
}



.password-field .password-field-input {
  width: 100%;

  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}

.password-field .password-field-input:focus {
  border-color: #F4560A;
}

.password-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
  font-size: 18px;
}