.header-container{
display: flex;
padding: 20px 100px 20px 50px;
align-items: center;
justify-content: space-between;
background-color: white;
box-shadow: 0px 0px 5px 0px rgb(153, 153, 153);
}
.header-right-ul{
    display:flex;
gap: 20px;
align-items: center;

}
.header-right-ul{
    list-style: none;

}
.header-right-link{
text-decoration: none;
color: black;
font-size: 20px;

}
.header-right-button{
    padding: 8px 10px;
    border-radius: 10px;
    border: none;
    background-color: #F4560A;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    color: white;
}